<div class="link-container px-2">
  <a class="flex brand justify-start pl-2 items-center gap-4" routerLink="/">
    <img priority ngSrc="/favicon.ico" width="28" height="28" />
    <span
      [class.opacity-100]="isOpen()"
      class="opacity-0 transition-all font-extrabold"
      >Envo</span
    >
  </a>
  <!-- <brn-separator hlmSeparator /> -->
</div>
<div class="overflow-x-hidden overflow-y-auto">
  <ul
    (mouseenter)="onMouseOver()"
    (mouseleave)="onMouseLeave()"
    class="flex flex-col gap-3"
  >
    @for (item of menuItems(); track $index) {
    <li class="link-container px-2">
      @if(item.separator) {
      <brn-separator hlmSeparator class="block m-0" />
      }@else {
      <a
        [routerLink]="item.route"
        routerLinkActive="active-link"
        class="flex items-center gap-3 pl-2 justify-start py-2"
        [routerLinkActiveOptions]="{exact: false}"
      >
        <ng-icon [name]="item.icon" size="20" />
        <span [class.opacity-100]="isOpen()" class="opacity-0 transition-all line-clamp-1"
          >{{ item.label }}</span
        >
      </a>
      }
    </li>
    }
  </ul>
</div>
<div class="overflow-x-hidden">
  <div
    (mouseenter)="onMouseOver()"
    (mouseleave)="onMouseLeave()"
    class="flex gap-2 pl-2 pb-2"
  >
    <hlm-avatar variant="large">
      @if((userAvatar()?.length ?? 0) > 0) {
      <img
        [ngSrc]="userAvatar() ?? ''"
        alt="userNames() ?? 'user name'"
        hlmAvatarImage
        width="32"
        height="32"
      />
      }
      <span
        class="bg-[var(--accent)] font-bold text-accent-foreground"
        hlmAvatarFallback
      >
        {{ initials() }}
      </span>
    </hlm-avatar>
    <div
      [class.opacity-100]="isOpen()"
      class="transition-all opacity-0 space-y-1"
    >
      <p class="m-0">{{ userNames() ?? 'User' }}</p>
      <p class="text-sm text-muted-foreground m-0">
        {{ userEmail() ?? 'user@example.com' }}
      </p>
    </div>
  </div>
  <div class="flex gap-2 pl-2 pb-2 flex-wrap">
    @for(action of bottomActions; track $index) {
    <button
      (click)="action.handler()"
      [title]="action.tooltip"
      hlmBtn
      variant="outline"
      size="sm"
    >
      <ng-icon [name]="action.icon" />
    </button>
    }
  </div>
</div>
