<div class="container mx-auto mt-4 space-y-3">
  @defer (when !allProjects.isLoading() || !allProjects.hasValue()) {
  <div class="flex items-center gap-3">
    <p>Current project:</p>
    <brn-select
      [value]="activeProject()"
      class="inline-block"
      placeholder="Select a project"
    >
      <hlm-select-trigger>
        <hlm-select-value>
          <div *brnSelectValue="let project" class="flex items-center gap-x-2">
            {{ project.name }}
          </div>
        </hlm-select-value>
      </hlm-select-trigger>
      <hlm-select-content>
        @for(project of allProjects.value(); track project.id) {
        <hlm-option [value]="project">{{ project.name }}</hlm-option>
        }
      </hlm-select-content>
    </brn-select>
  </div>
  }@loading {
  <div class="flex items-center gap-3">
    <hlm-skeleton class="w-[50px] h-[20px]" />
    <hlm-skeleton class="w-[100px] h-[20px]" />
  </div>
  }
  <hlm-tabs (tabActivated)="activeTab.set($event)" [tab]="activeTab()">
    <hlm-tabs-list class="grid grid-cols-2" aria-label="tabs">
      <button hlmTabsTrigger="flags" class="font-semibold">Features</button>
      <button hlmTabsTrigger="env" class="font-semibold">
        Environment Variables
      </button>
    </hlm-tabs-list>
  </hlm-tabs>
</div>
<main class="overflow-y-auto container mx-auto">
  <router-outlet />
</main>
