<div class="container mx-auto mt-4 space-y-3">
  @defer (when !allProjects.isLoading() && allProjects.hasValue()) {
  <div class="flex items-center gap-3 justify-center lg:justify-start">
    <p class="text-sm text-muted-foreground">Current project:</p>
    <brn-select
      [value]="activeProject()"
      class="inline-block"
      placeholder="Select a project"
    >
      <hlm-select-trigger>
        <hlm-select-value>
          <div *brnSelectValue="let project" class="flex items-center gap-x-2">
            {{ project.name }}
          </div>
        </hlm-select-value>
      </hlm-select-trigger>
      <hlm-select-content>
        @for(project of allProjects.value(); track project.id) {
        <hlm-option [value]="project">{{ project.name }}</hlm-option>
        }
      </hlm-select-content>
    </brn-select>
  </div>
  }@loading {
  <div class="flex items-center gap-3">
    <hlm-skeleton class="w-[50px] h-[20px]" />
    <hlm-skeleton class="w-[100px] h-[20px]" />
  </div>
  }
  <brn-separator hlmSeparator />
  <div class="flex justify-center lg:justify-start items-center gap-3">
    @for(link of links; track $index) {
    <a
      routerLinkActive="!opacity-100 font-bold !border-b-primary"
      [routerLinkActiveOptions]="{ exact: false }"
      [routerLink]="link.path"
      class="flex items-center gap-2 pb-2 border-b-3 px-3 border-b-transparent opacity-70"
    >
      <ng-icon [name]="link.icon" />
      <span>{{ link.label }}</span>
    </a>
    }
  </div>
</div>
<main class="overflow-y-auto container mx-auto">
  <router-outlet />
</main>
