<div class="dark:bg-surface-800 p-3 space-y-3">
    <a routerLink="/" class="flex gap-3 items-center justify-start text-lg font-semibold">
        <img src="/favicon.ico" width="28">
        <h1>Envo</h1>
    </a>
    @if(selectedProject()) {
    <div>
        <p-select placeholder="Current Project" size="small" styleClass="block w-full" [options]="projects()"
            [(ngModel)]="selectedProject" optionLabel="name" optionValue="id" />
    </div>
    }
</div>
<div class="p-3 block list-none space-y-3">
    @if(selectedProject()){
    <div>
        <p-button size="small" [text]="true" severity="secondary" styleClass="text-muted-color block"
            class="text-muted-color block" icon="pi pi-arrow-left" [routerLink]="['/projects', projectId()]"
            label="Back to project" />
    </div>
    <div>
        <p-menu [model]="projectMenu()" />
    </div>
    }@else {
    <p-menu [model]="accountMenuItems" />
    }
</div>
<div class="p-3">
    <p-button (onClick)="onSignOutButtonClicked()" icon="pi pi-sign-out" styleClass="block w-full" size="small"
        severity="secondary" [outlined]="true" label="Sign out" />
</div>